mixin head(title)
    head
        title #{title}
        link(rel='stylesheet', href="/public/css/phasecheck.css")
        script(src='/public/scripts/jQuery.js')
        script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
        script(type="module", src="/public/scripts/js.cookie.mjs")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")